# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [16]:
import pandas as pd
import numpy as np

In [17]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [18]:
black_friday.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [19]:
black_friday.isna()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,False,False,False,False,False,False,False,False,False,True,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,True,True,False
3,False,False,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
537572,False,False,False,False,False,False,False,False,False,False,True,False
537573,False,False,False,False,False,False,False,False,False,False,False,False
537574,False,False,False,False,False,False,False,False,False,False,True,False
537575,False,False,False,False,False,False,False,False,False,True,True,False
537576,False,False,False,False,False,False,False,False,False,False,True,False

In [20]:
int(black_friday['Product_Category_3'].mode())

16

In [21]:
# normalização
def norm(df, column):
    aux = df[column]
    norm_aux = (aux - aux.min())/(aux.max() - aux.min())

    return norm_aux

In [22]:
norm_purch = norm(black_friday, 'Purchase')

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [23]:
def q1():
    return black_friday.shape

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [24]:
def q2():
    filter = 'Gender == "F" and Age == "26-35"'
    count = black_friday.query(filter).shape[0]
    return count

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [25]:
def q3():
    return black_friday['User_ID'].unique().shape[0]

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [26]:
def q4():
    return black_friday.dtypes.unique().shape[0]

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [27]:
def q5():
    total_samples = black_friday.shape[0]
    nb_nan = total_samples - black_friday.dropna().shape[0]
    
    return nb_nan/total_samples

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [28]:
def q6():
    return int(black_friday.isna().sum().sort_values(ascending=False)[0])

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [29]:
def q7():
    return int(black_friday['Product_Category_3'].mode())

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [30]:
def q8():
    return float(norm(black_friday, 'Purchase').mean())

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [53]:
def q9():
    purch = black_friday['Purchase']
    normalized = (purch - purch.mean()) / purch.std()
    return (normalized.between(-1, 1).sum())

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [36]:
def q10():
    pass